extends layout
include mixins

block content
	+menu_guest

	.container
		h1 Dress Closet
		p Welcome to Dress Closet

		p Aqui el contenido de la pagina inicial (estoy en index)
		p publicidad
		p lista de vestidos

	+foot
